<div class="container col-4 text-center">
  <h1 class="my-4">To do list</h1>
  <ul class="list-group">
    <% @tasks.each do |task| %>
      <li class="list-group-item d-flex align-items-center rounded">
        <%= link_to task.title, task_path(task), class:"list-group-item form-control bg-secondary-subtle" %>
      </li>
    <% end %>
    <%= link_to "Create new task", new_path, class:"btn btn-secondary m-4 p-2" %>
  </ul>
</div>
