<div class="container col-4 text-center">
  <h1 class="my-4">To do list</h1>
  <ul class="list-group">
    <% @tasks.each do |task| %>
      <li class="list-group-item py-2 me-2">
        <input class="form-check-input me-1 " type="checkbox" value="" id="firstCheckbox">
        <label class="form-check-label" for="firstCheckbox"><%= task.title %></label>
      </li>
    <% end %>
  </ul>
</div>
